<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Activations</th>
            <th scope="col">Device</th>
            <th scope="col">Room</th>
            <th scope="col">Floor</th>
            <th scope="col">Sattus</th>
            <th scope="col">Operations</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let device of devices;">
            <th scope="row">1</th>
            <td>
                <a class="btn btn-success" href="#"><i class="fa fa-play fa-2x" aria-hidden="true"></i></a>
            </td>
            <td>{{device.name}}</td>
            <td>{{device.room.name}}</td>
            <td>{{device.floor.name}}</td>
            <td>{{device.status}}</td>
            <td>
                <a class="btn btn-danger" href="#"><i class="fa fa-trash-o fa-lg"></i></a> |
                <a class="btn btn-warning" href="#"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a> |
                <a class="btn btn-info" href="#">More</a>
            </td>
        </tr>
    </tbody>
</table>